body {
    margin: 0;
    background-color: rgb(18, 45, 89);
    padding-top: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1em;
}

* {
    box-sizing: border-box;
  }

.container{
    max-width: 992px;
    margin: auto;
    background-color: rgb(251, 251, 251);
    border-radius: 14px;
}

.center {

    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.topnav{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Style the navigation bar links */
.topnav a {
    color: rgb(123, 46, 15);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
.topnav a:hover, .topnav .active {
    color: rgb(255, 162, 0);
  }


/*banner styling*/  
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 240px;
  background-image: url(images/pexels-expect-best-351265.jpg);
  background-size:cover;
  box-shadow:10px 10px 50px 10px black inset; 
  
}

.w3-spin{
  height: 200px;
}

/*end of banner styling*/


.row{
     display: flex;
     flex-wrap: wrap; 
  }

.side{
  flex: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side h3, h5{
  font-family: 'Fjalla One', sans-serif;
}

.side h3{
  color: rgb(1, 86, 163);
}

.side h5{
  color: rgb(123, 46, 15);
}

.side a{
  text-decoration: none;
}

.featureimg{
  height: 215px;
  width: 200px;
  padding-top: 20px;
  object-fit: cover;
}

.main{
      flex: 70%;
      padding: 20px;
  }

.mainImg{
  height: 200px;
  width: 620px;
  
  object-fit: cover;
  border-radius: 15px;
}

.main .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:  rgb(255, 162, 0);
   
  }
  
.main .fa:hover {
    opacity: 0.7;
}

.main h2, .main h3{
  color: rgb(123, 46, 15);
  font-family: 'Fjalla One', sans-serif;
}

.shopTitle{
  text-align: center;
}
  
.main p{
  color: rgb(1, 86, 163);
}

.main .inline {
  color: rgb(255, 162, 0);
  text-decoration: none;
}

/* Change color on hover */
.main .inline:hover {
  color: white;
  background-color: rgb(255, 162, 0);
}

/*table styling*/
table{
  border-collapse: collapse;
  margin: 25px, 0;
  font-family: Arial;
  font-size: 0.9em;
  min-width: 400px;
  width:100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding-right: 10px;
}

.tableImg{
  height: 100px;
  padding: 5px;
}

.cart{
  background-color: rgb(255, 162, 0); /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  
}

.cart:hover{
  background-color: rgb(123, 46, 15);
}  

/*drop down categories*/

.dropbtn {
  background-color: rgb(123, 46, 15);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(255, 162, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*end of dropdown categories*/


/* Pagination links */
.pagination a {
  color: black;
 font-size: 0.7em;
  padding: 4px 18px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: rgb(1, 86, 163);
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}





/*end of table Styling*/

/*.contactForm{
  color:chocolate;
}*/

/*contact form styling*/
form{
  color:rgb(123, 46, 15);
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color:rgb(1, 86, 163);
}

::placeholder{
  color:rgb(1, 86, 163);
}

input[type=submit] {
  background-color:rgb(123, 46, 15);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rgb(255, 162, 0);
}

.formContainer {
  border-radius: 5px;
  background-color:rgb(255, 204, 102);
 
  padding: 20px;
}/*end of contact form styling*/




footer{
    padding: 20px;
    text-align: center;
    color: rgb(251, 251, 251);
    font-size: 0.8em;
  }

  footer a{
    text-decoration: none;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .row, .topnav {   
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    .side {   
      flex-wrap: wrap;
      justify-content: center;
    }
  }  

  @media screen and (max-width: 768px) {
    .main {   
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }  


