body {
    margin: 0;
    background-color: rgb(18, 45, 89);
    padding-top: 20px;
    font-family: Arial;
}

* {
    box-sizing: border-box;
  }

.container{
    max-width: 992px;
    margin: auto;
    background-color: rgb(251, 251, 251);
    border-radius: 14px;
}

.center {

    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.topnav{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Style the navigation bar links */
.topnav a {
    color: rgb(123, 46, 15);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
.topnav a:hover {
    color: rgb(255, 162, 0);
  }

.row{
     display: flex;
     flex-wrap: wrap; 
  }

.side{
  flex: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side h5{
  color: rgb(18, 45, 89);
}
  

.featureimg{
  height: 215px;
  width: 200px;
  padding-top: 20px;
  object-fit: cover;
}

.main{
      flex: 70%;
      padding: 20px;
  }

.main h2, .main h3{
  color: rgb(123, 46, 15);
}
  
.main p{
  color: rgb(1, 86, 163);
}

.main a {
  color: rgb(255, 162, 0);
  text-decoration: none;
}

/* Change color on hover */
.main a:hover {
  color: white;
  background-color: rgb(255, 162, 0);
}


footer{
    padding: 20px;
    text-align: center;
    color: rgb(251, 251, 251);
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .row, .topnav {   
      flex-direction: column;
    }
  }

